@import '../../scss/typhography';

.chat {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.body {
  width: 728px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  padding-bottom: 80px; 
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.chatBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 1 auto;
    height: 100%;
    // overflow-y: auto;
    padding: 0 10px;
    align-items: center;
    padding-bottom: 190px;
    @media (max-width: 768px) {
      padding-bottom: 100px;
    }
  }

  .chatActions {
    width: 728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 12px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    @media (max-width: 1024px) {
        width: 100%;
      }
  }

  .btn {
    background-color: #e2e8f0;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.25s ease;
    &:hover {
      background-color: #fff;
      border: 1px solid #5a5a5a;
    }
  }

  .chatInput {
    min-height: 56px;
    width: calc(100% - 70px);
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid transparent;
    background-color: #e2e8f0;
    transition: all 0.25s ease;
    &:focus {
      border: 1px solid #5a5a5a;
      background-color: #fff;
    }
    &::placeholder {
      font-family: $fontFamily;
    }
    font-size: 15px;
  }

.incomingMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.incomingText {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 18px;
  border-top-left-radius: 0px;
  width: 100%;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 670px) {
    max-width: 80%;
  }
  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.sentText {
  text-align: left;
  width: 66%;
  background-color: #e2e8f0;
  border-radius: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 16px;
  border-bottom-right-radius: 0px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 670px) {
    max-width: 80%;
  }
  @media (max-width: 480px) {
    max-width: 100%;
    
  }
}

.sentMessage {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.options {
  margin-top: 12px;
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  gap: 5px;
  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

.option {
  padding: 10px;
  border-radius: 18px;
  background-color: #fff;
  color: #2684FC;
  border: 1px solid #2684FC;
  @media (max-width: 480px) {
   font-size: 13px;
  }
}

.actionsWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.disclamer {
  font-size: 12px;
}