@import '../../scss/typhography';

.chatBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 600px;
    overflow-y: scroll;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height:97vh;
}

.body {
    width: 728px;
    height: 100vh;

}

.incomingMessage {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.incomingText {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border-radius: 18px;
    border-top-left-radius: 0px;
    width: 600px;
    @media (max-width: 1024px) {
        font-size: 14px;
     }
    @media (max-width: 670px) {
        max-width: 80%;
    }
    @media (max-width: 480px) {
        max-width: 100%;
    }
}

.sentText {
    text-align: left;
    width: 66%;
    background-color: #E9E9E9;
    border-radius: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 16px;
    border-bottom-right-radius: 0px;
    @media (max-width: 1024px) {
       font-size: 14px;
    }
    @media (max-width: 670px) {
        max-width: 80%;
    }
    @media (max-width: 480px) {
        max-width: 100%;
    }
}

.sentMessage {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.options {
    margin-top: 12px;
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    gap: 5px;
}

.option {
    padding: 10px;
    border-radius: 18px;
    background-color: #fff;
    color: #2684FC;
    border: 1px solid #2684FC;
    
}

// .chatActions {
//     display: flex;
//     flex-direction: column;
//     margin: 20px 0px 0px 0px;
//     padding: 0 11px;
//     border-radius: 18px;
//     width: 100%;
//     background-color: #fff;
// }


// .actions {
//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;
//     width: 100%;
//     background-color: #fff;
//     height: 100%;
//     height: 50px;
// }


.chatActions {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.btn {
    background-color: #e2e8f0;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all .25s ease;
    &:hover {
        background-color: #fff;
        border: 1px solid #5a5a5a;
    }
}


.chatInput {

    transition: border-color .3s ease;
    min-height: 56px;
    background-color: #fff;
    width: 91%;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    border: 1px solid transparent;
    transition: border-color .25s ease;
    transition: background-color .25s ease;
    font-family: $fontFamily;
    background-color: #e2e8f0;
    &:focus {
        border: 1px solid #5a5a5a;
        background-color: #fff;
    }
    &::placeholder {
        font-family: $fontFamily;
    }
    font-size: 15px;
}