.faq {
    padding-top: 100px;
}

.content {
    margin-top: 55px;
    border-radius: 24px;
    padding: 14px 96px 18px;
    background-color: #fff;
}

.title {
    font-size: 45px;
    text-align: center;
    font-weight: 900;
}