@import '../../scss/colors.scss';
@import '../../scss/typhography';

.hero {
    padding: 150px 0 100px 0;
}
.textContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
  font-size: 45px;
  text-align: center;
  font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.transit {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2684FC;
  font-size: 45px;
}
.subtitle {
    margin-top: 20px;
    color: $secondaryText;
}
.searchContent {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputWrapper {
    position: relative;
    width: 624px;
}

.inputSearch {
    transition: border-color .3s ease;
    min-height: 56px;
    width: 100%;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    position: relative;
    border: 1px solid transparent;
    transition: border-color .25s ease;
    font-family: $fontFamily;
    &:focus {
        border: 1px solid #5a5a5a;
    }
    &::placeholder {
        font-family: $fontFamily;
    }
    font-size: 15px;
}

.searchIcon {
    position: absolute;
    content: '';
    top: 16px;
    z-index: 1;
    left: 16px;
    color: #757575;
}

.clearIcon {
  position: absolute;
  content: '';
  top: 16px;
  z-index: 1;
  right: 16px;
  color: #757575;
}

.searchBtn {
    display: flex;
    margin-top: 34px;
    border-radius: 12px;
      padding: 16px 33px 16px 33px;
      background-color: #22E0A7;
      color: #000;
      border: none;
      cursor: pointer;
     
        transition: background-color .25s ease;
      &:hover {
        background-color: #42d3a7;
      }
      button{
        margin-left: 7px;
        font-family: $fontFamily;
      }
  }

 
