@import '../../scss/breakpoints';

.advantages {
    // padding-top: 100px;
}

.title {
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    @media (max-width: $mobile) {
        font-size: 30px;
      }
}

.miniBoxes {
    display: flex;
    gap: 40px;
    margin-top: 55px;
    @media (max-width: 900px) {
        flex-wrap: wrap;
    }
}

.miniBox {
    width: 33.333%;
    padding: 32px;
    background-color: #fff;
    border-radius: 24px;
    transition: background .3s ease;
    @media (max-width: 900px) {
        width: 100%;
    }
}

.boxTitle {
    font-size: 20px;
    font-weight: 700;
}

.boxText {
    margin-top: 15px;
    line-height: 30px;
}


.boxes {
    display: flex;
    gap: 40px;
    margin-top: 55px;
    @media (max-width: $mobile) {
        flex-wrap: wrap;
    }
}

.box {
    width: 50%;
    padding: 32px;
    background-color: #fff;
    border-radius: 24px;
    transition: background .3s ease;
    @media (max-width: $mobile) {
        width: 100%;
    }
}