@import '../../scss/breakpoints';

.additinal {
    padding-top: 100px;
}

.title {
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    @media (max-width: $mobile) {
        font-size: 30px;
      }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 42px;
    margin-top: 48px;
    
}

.item {
    height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 24px;
    padding: 30px;
    transition: scale .3s ease;
    width: 48%;
    &:last-child {
        width: 100%;
        order: 1;
        height: 320px;
        order: 3;
        align-items: flex-start;
        .text {
            text-align: left;
        }
    }
    &:hover {
        scale: 1.02;
    }
    @media (max-width: $tablet) {
        width: 100%;
        height: 300px;
        &:last-child {
            width: 100%;
            order: 1;
            height: 300px;
            order: 3;
            align-items: center;
            .text {
                text-align: center;
            }
        }
    }
}

.btn {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 8px;
}

.text {
    text-align: center;
}

.heading {
    font-size: 20px;
    font-weight: 700;
}

.desc {
    margin-top: 20px;
    line-height: 30px;
}