.sidebar {
    background-color: #fff;
    min-width: 275px;
    padding: 32px 0 0 0;
    height: 100vh;
    @media (max-width: 1024px) {
        display: none;
    }
}

.body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}



.chatList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh; 
   overflow-y: auto;
}

.newChat{
    margin-top: 16px;
    background-color: #22E0A7;
    padding: 11.6px;
    z-index: inherit;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.plus{
    font-size: 25px;
}

.chatName {
    padding: 15px;
    background-color: transparent;
    transition: background-color .25s ease;
    border-radius: 12px;
    &:hover {
        background-color: #f6f6f6;
    }
}