.sidebar {
    width: 275px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 0;
    @media (max-width: 1024px) {
      display: none;
    }
  
    .body {
      flex-grow: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding: 20px 0 0 20px;
      width: 100%;
      background-color: #e9e9e9;
    }
  
    .chatList {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }
  
    .newChat {
      margin-top: 16px;
      width: 55%;
      background-color: #22E0A7;
      padding: 11.6px;
      z-index: inherit;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 12px;
    }
  
    .plus {
      font-size: 25px;
    }
  
    .chatName {
      padding: 15px;
      background-color: transparent;
      transition: background-color 0.25s ease;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 12px;
      margin-right: 5px;
      position: relative;
      &:hover {
        background-color: #f6f6f6;
        .dots {
          display: block;
        }
      }
    }
  
    .dots {
      display: none;
      transition: all 0.3s ease;
      position: absolute;
      top: 7px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
    }
  
    .chatItem {
      position: relative;
    }
  
    .popupWrap {
      position: absolute;
      top: 25px;
      right: 15px;
    }
  
    .chatItem.active .dots {
      display: block;
    }
  
    .popup {
      position: fixed;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 8px;
      z-index: 9999;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
        &:hover {
          background-color: #f6f6f6;
        }
      }
    }
  
    .popupBtn {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .input {
      border: 1px solid #2684FC;
    }
  }
  