@import '../../scss/typhography';


.offer {
    position: relative;
    min-width: 340px;
}

.body {
    // position: absolute;
    // top: 0px;
    // right: 0px;


    padding: 30px 0;
}

.content {
    position: fixed;
    width: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.grayBox {
    background-color: #e2e8f0;
    border-radius: 21px;
    padding: 24px;
    width: 100%;
}

.grayTitle {
    font-size: map-get($blockTitle, font-size);
    font-weight: map-get($blockTitle, font-weight);
    line-height: map-get($blockTitle, line-height);
} 

.graySubtitle {
    padding: 15px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.grayBtn {
    transition: all .3s ease;
    color: #2684FC;
    &:hover {
        color: #969696;
    }
}

.whiteBox {
    background-color: #e2e8f0;
    border-radius: 21px;
    padding: 24px;
    width: 100%;
}

.whiteTitle {
    font-size: map-get($blockTitle, font-size);
    font-weight: map-get($blockTitle, font-weight);
    line-height: map-get($blockTitle, line-height);
} 

.whiteSubtitle {
    padding: 15px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.whiteBtn {
    transition: all .3s ease;
    color: #2684FC;
    &:hover {
        color: #969696;
    }
}