.aitutor {
    display: flex;
    background-color: #fff;
}

  .chatside {
    margin-left: 275px;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    @media (max-width: 1024px) {
        margin-left: 0;
    }
  }