@import '../../scss/colors.scss';


.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(0, 16, 36, .12);
        opacity: 1;
        pointer-events: none;
        transition: opacity 0.25s ease;
    }
}

.logo {
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    a {
        display: flex;
        align-items: center;
    }
}

.navWrap {
    display: flex;
    align-items: center;
    gap: 50px;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.login {
    color: $secondaryText;
}

.dropdown {
    position: relative;
    z-index: 100; 
    cursor: pointer;
    .dropdownMenu {
        position: absolute;
        top: 270%;
        left: 0;
        background-color: #fff;
        padding: 10px;
        border-radius: 12px;
        list-style: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 200;
        display: none;

        .dropdownItem {
            padding: 8px 12px;
        }
        &.open {
            display: block;
          }
    }      
}
