@import '../../scss/typhography';
@import '../../scss/breakpoints';

.textBlock {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
    }
    padding-bottom: 100px;  
}

.body {
    width: 728px;

    @media (max-width: 1200px) {
        width: 100%;
    }
}

.projectInfo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.projectType {
    font-weight: 700;
    font-size: 14px;
}

.projectDate {
    font-weight: 400;
    font-size: 13px;
}

.views {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 5px;
    font-size: 13px;
}

.projectTitle{
    margin-top: 20px;
    font-family: $fontFamily;
    font-size: map-get($secondaryTitle, font-size);
    font-weight: map-get($secondaryTitle, font-weight);
    line-height: map-get($secondaryTitle, line-height);
}

.projectAnnotation {
    margin-top: 20px;
    font-size: map-get($lightBlockTitle, font-size);
    font-weight: map-get($lightBlockTitle, font-weight);
    line-height: map-get($lightBlockTitle, line-height);
}

.table {
    margin-top: 20px;
}

.tableTitle {
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.4px;
}
.list {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.link {
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.36px;
    color: #2684FC;
    transition: all .3s ease;
    &:hover {
        text-decoration: underline;
    }
}

.textBox {
    margin-top: -50px;
    padding-top: 70px;
}

.textBoxTitle {
    font-size: map-get($blockTitle, font-size);
    font-weight: map-get($blockTitle, font-weight);
    line-height: map-get($blockTitle, line-height);
}

.textBoxContent {
    margin-top: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.subsection {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info {
    margin-top: 15px;
}


// .ask {
//     width: 728px;
//     @media (max-width: 1130px) {
//         width: 550px;
//       }
// }

.actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.btn {
    background-color: #e2e8f0;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all .25s ease;
    flex-shrink: 0;
    &:hover {
        background-color: #fff;
        border: 1px solid #5a5a5a;
        
    }
}

.title {
    font-size: map-get($blockTitle, font-size);
    font-weight: map-get($blockTitle, font-weight);
    line-height: map-get($blockTitle, line-height);
}

.askInput {

    transition: border-color .3s ease;
    min-height: 56px;
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    border: 1px solid transparent;
    transition: border-color .25s ease;
    transition: background-color .25s ease;
    font-family: $fontFamily;
    background-color: #e2e8f0;
    &:focus {
        border: 1px solid #5a5a5a;
        background-color: #fff;
    }
    &::placeholder {
        font-family: $fontFamily;
    }
    font-size: 15px;
    @media (max-width: 768px) {
        width: 80%;
      }

    @media (max-width: 460px) {
        width: 70%;
    }
}

.options {
    margin-top: 12px;
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    gap: 5px;
    @media (max-width: 1024px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  
  .option {
    padding: 10px;
    border-radius: 18px;
    background-color: #fff;
    color: #2684FC;
    border: 1px solid #2684FC;
    @media (max-width: 480px) {
     font-size: 13px;
    }
  }