.footer {
    background-color: #151615;
    color: #fff;
}

.body {
    padding: 20px 0;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

.content {
    margin-top: 50px;
}

.questions {
    font-size: 13px;
}

.links {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 15px;
}

.copyrights {
    padding: 20px 0 10px 0;
    border-top: 1px solid #fff;
    font-size: 13px;
}