.short {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
        gap: 20px;
      }
    @media (max-width: 845px) {
        justify-content: center;
    }
    padding-bottom: 150px;
    @media (max-width:435px) {
        padding-bottom: 170px;
      }
}


.shortMain {
    background-color: #fff;
}