@import '../../scss/typhography';
@import '../../scss/typhography';

.ask {
    padding-bottom: 50px;
    max-width: 728px;
}

.title {
    font-size: map-get($blockTitle, font-size);
    font-weight: map-get($blockTitle, font-weight);
    line-height: map-get($blockTitle, line-height);
}

.askInput {
    margin-top: 20px;
    transition: border-color .3s ease;
    min-height: 56px;
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    border: 1px solid transparent;
    transition: border-color .25s ease;
    transition: background-color .25s ease;
    font-family: $fontFamily;
    background-color: #e2e8f0;
    &:focus {
        border: 1px solid #5a5a5a;
        background-color: #fff;
    }
    &::placeholder {
        font-family: $fontFamily;
    }
    font-size: 15px;
}