@import '../../scss/typhography';
@import '../../scss/colors';

.ask {
    width: 728px;
    position: relative;
}

.body {
    position: absolute;
    left: 0;
    bottom: 28px;
    z-index: 1000;
}

.fixed {
    position: fixed;
    bottom: 0;
    width: 720px;
    padding: 20px 0;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 10%,
        #fff 100%
      );
}

.absolute {
    position: absolute;
    width: 720px;
    padding: 20px 0;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 10%,
        #fff 100%
      );
}

.actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    background-color: #e2e8f0;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all .25s ease;
    &:hover {
        background-color: #fff;
        border: 1px solid #5a5a5a;
    }
}

.title {
    font-size: map-get($blockTitle, font-size);
    font-weight: map-get($blockTitle, font-weight);
    line-height: map-get($blockTitle, line-height);
}

.askInput {

    transition: border-color .3s ease;
    min-height: 56px;
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    border: 1px solid transparent;
    transition: border-color .25s ease;
    transition: background-color .25s ease;
    font-family: $fontFamily;
    background-color: #e2e8f0;
    &:focus {
        border: 1px solid #5a5a5a;
        background-color: #fff;
    }
    &::placeholder {
        font-family: $fontFamily;
    }
    font-size: 15px;
}