@use 'sass:math';
@import './mixins';
@import './colors';
@import './normalize';
@import './typhography';
@import './breakpoints';

@if ($responsiveType==1) {
  [class*='container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}


body {
  font-weight: 500;
  background-color: $bgPrimary;
  font-family: $fontFamily;
  color: $primaryText;
  font-size: 16px;
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

// HeroBlock Sparks animation

.styles_active__YRO07 .styles_anim_24_sparks-u-6__UjcCy {
  animation: styles_anim_24_sparks-u-6_c_o__RgZWH 3.6s linear infinite normal forwards
}

@keyframes styles_anim_24_sparks-u-6_c_o__RgZWH {
  0% {
      opacity: 0
  }

  66.666667% {
      opacity: 0
  }

  83.333333% {
      opacity: 1
  }

  to {
      opacity: 0
  }
}

.styles_active__YRO07 .styles_anim_24_sparks-u-5__gjOBh {
  animation: styles_anim_24_sparks-u-5_c_o__E_114 3.6s linear infinite normal forwards
}

@keyframes styles_anim_24_sparks-u-5_c_o__E_114 {
  0% {
      opacity: 0
  }

  50% {
      opacity: 0
  }

  66.666667% {
      opacity: 1
  }

  83.333333% {
      opacity: 0
  }

  to {
      opacity: 0
  }
}

.styles_active__YRO07 .styles_anim_24_sparks-u-4__5pxXa {
  animation: styles_anim_24_sparks-u-4_c_o__EStNJ 3.6s linear infinite normal forwards
}

@keyframes styles_anim_24_sparks-u-4_c_o__EStNJ {
  0% {
      opacity: 0
  }

  33.333333% {
      opacity: 0
  }

  50% {
      opacity: 1
  }

  66.666667% {
      opacity: 0
  }

  to {
      opacity: 0
  }
}

.styles_active__YRO07 .styles_anim_24_sparks-u-3__C893_ {
  animation: styles_anim_24_sparks-u-3_c_o__FJK_S 3.6s linear infinite normal forwards
}

@keyframes styles_anim_24_sparks-u-3_c_o__FJK_S {
  0% {
      opacity: 0
  }

  16.666667% {
      opacity: 0
  }

  33.333333% {
      opacity: 1
  }

  50% {
      opacity: 0
  }

  to {
      opacity: 0
  }
}

.styles_active__YRO07 .styles_anim_24_sparks-u-2__SQ4bf {
  animation: styles_anim_24_sparks-u-2_c_o__wn7KQ 3.6s linear infinite normal forwards
}

@keyframes styles_anim_24_sparks-u-2_c_o__wn7KQ {
  0% {
      opacity: 0
  }

  16.666667% {
      opacity: 1
  }

  33.333333% {
      opacity: 0
  }

  to {
      opacity: 0
  }
}

.styles_active__YRO07 .styles_anim_24_sparks-u-1__mNT1E {
  animation: styles_anim_24_sparks-u-1_c_o__Adqf7 3.6s linear infinite normal forwards
}

@keyframes styles_anim_24_sparks-u-1_c_o__Adqf7 {
  0% {
      opacity: 1
  }

  16.666667% {
      opacity: 0
  }

  83.333333% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}


// wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }
  > * {
    min-width: 0;
  }
}