@import '../../scss/typhography';

.rewrite {
    padding: 150px 0;
}

.title {
    font-size: 45px;
    text-align: center;
    font-weight: 900;
  }

.subtitle {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
}

.body {
    margin-top: 45px;
    width: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 24px;
    height: 450px;
}

.human {
    width: 50%;
}



.humanBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.humanBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    border-top: 1px solid #e3e3e3;
    height: 97px;
}

.words {
    display: flex;
    align-items: center;
    gap: 10px;
}

.humanText {
    padding: 28px 36px;
    flex-grow: 1;
}

.humanTextArea {
    width: 100%;
    height: 100%;

    &::placeholder {
        font-weight: 500;
    }
    resize: none;
    font-family: $fontFamily;
    font-weight: 500;
}

.btn {
    display: flex;
    width: 180px;
    border-radius: 12px;
      padding: 16px 33px 16px 33px;
      background-color: #22E0A7;
      color: #000;
      border: none;
      cursor: pointer;
     
        transition: background-color .25s ease;
      &:hover {
        background-color: #42d3a7;
      }
      button{
        margin-left: 7px;
        font-family: $fontFamily;
      }
  }

.ai {
    width: 50%;
    border-left: 1px solid #e3e3e3;
}

.aiBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aiPlaceholder {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100%;
}

.aiTitle {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
}

.aiSubtitle {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    line-height: 19px;
}

.aiText {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.generatedText {
    padding: 28px 36px;
    flex-grow: 1;
    width: 100%;
    height: 100px;
    overflow-y: auto;
    span {
        width: 100%;

        line-height: 24px;
 
    }
}

.aiBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26.5px 50px;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    height: 97px;
}

.copy {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 24px;
    border: 1px solid transparent;
    transition: border-color .3s ease;
    font-size: 14px;
    &:hover {
        border: 1px solid #000;
    }
    cursor: pointer;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #22E0A7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  