@import '../../scss/breakpoints';

.sitemap {
    padding: 30px 0;
    width: 100%;
    @media (max-width: $mobile) {
        padding: 50px 0 30px 0;
    }
}

.title {
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    @media (max-width: $mobile) {
        font-size: 30px;
      }
}

.body {
    padding: 50px 0 0 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: $mobile) {
        display: none;
    }
}

.wrap {
    @media (max-width: $mobile) {
        margin-top: 55px;
    }
}

.accordionBody {
    display: none;
    @media (max-width: $mobile) {
        display: block;
    }
}

.heading {
    font-weight: 500;
    font-size: 13px;
    color: #000000cc;
}

.links {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    font-size: 13px;
    font-weight: 300;
    color: #0000008a;
    transition: all .3s ease;
    &:hover {
        color: #000;
    }
}